/* Reset and Normalize */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

#citybar,
.navigation {
  background-color: #551a8b;
  overflow: hidden
}

#citybar button,
.navigation a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em
}

.navigation input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 12px;
  font-size: 1em;
  max-width: 30%
}

.dropmenu {
  float: left;
  overflow: hidden
}

.dropmenu .dropbutton {
  font-size: 1.2em;
  border: none;
  outline: none;
  color: #fff;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0
}

.droplist {
  display: none;
  position: absolute;
  background-color: #dfd7e6;
  min-width: 15%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
  z-index: 1
}

.droplist a {
  float: none;
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left
}

.dropmenu:hover .dropbutton,
.navigation a:hover {
  background-color: #916cb2;
  color: #fff
}

.droplist a:hover {
  background-color: #916cb2;
  color: #000
}

.dropmenu:hover .droplist {
  display: block
}

#righttop a {
  float: right;
  font-size: 1.2em;
  padding-bottom: 20px;
  padding-top: 22px
}

#mainbody {
  text-align: center;
  position: relative;
  margin-top: 5%
}

#companylogo {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

img {
  max-width: 100%;
  height: auto;
  width: auto
}

.loginimg {
  flex: 33.33%;
  padding: 5px
}

.topimgcontainer {
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 5%
}

.topimgcontainer img {
  max-width: 70%;
  max-height: 70%
}

#formcontainer,
#formcontainer2 {
  background: rgba(223, 215, 230, .4);
  border: none;
  border-radius: 30px;
  position: relative;
  font-family: Libre Bodoni, Garamond, Times New Roman, serif;
  width: 80%;
  left: 8%;
  margin-top: 1%
}

#login form fieldset,
#signup form fieldset {
  position: relative
}

#f1head {
  font-size: 200%;
  font-weight: 700
}

#emailcontainer,
#emailcontainer2,
#passwordcontainer {
  position: relative;
  clear: both;
  margin-top: 5%;
  margin-bottom: 5%
}

#button2 button,
#button button {
  font-size: 1em;
  line-height: 1.4em;
  width: 97%;
  margin-bottom: 5%
}

.forminput {
  box-sizing: border-box;
  width: 97%;
  padding: 1%;
  margin: 1% 1.5%
}

#f2head {
  font-size: 150%;
  font-weight: 700;
  width: 75%;
  margin-left: 13%
}

#spacer,
#spacer2 {
  margin-top: 5%;
  margin-bottom: 5%
}

#bottombar {
  background-color: #b4b8bb;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center
}

.event-calendar {
  float: right;
  width: 300px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif
}

#button2 button:hover,
#button button:hover {
  background-color: #551a8b;
  color: #fff
}

.calendar-header {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center
}

.calendar-body {
  padding: 10px
}

.calendar-row {
  display: flex
}

.calendar-day {
  flex: 1;
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc
}

@media screen and (min-width:768px) {

  #formcontainer,
  #formcontainer2 {
    left: 14%;
    width: 70%;
    margin-top: 1%
  }
}

@media screen and (min-width:1600px) {

  #formcontainer,
  #formcontainer2 {
    left: 32%;
    width: 35%;
    margin-top: 1%
  }

  #button2 button,
  #button button {
    width: 20%
  }

  #logintop {
    width: 50%;
    height: 20%;
    position: relative;
    left: 24.5%;
    display: flex
  }

  .topimgcontainer img {
    max-width: 100%;
    max-height: 100%
  }
}

body {
  font-family: Libre Bodoni, Garamond, Times New Roman, Times
}

.result-node {
  width: 80%;
  height: 100px;
  margin-top: 10px;
  margin-left: 12%;
  border: 1px solid #00f
}

.cl-thumb {
  position: absolute;
  left: 15%;
  height: 100px
}

.supertitle {
  padding-left: 14%;
  margin-top: 5px
}

.supertitle,
.title-blob {
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px
}

.title-blob {
  padding-left: 15%
}

.meta {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  display: inline-flex
}

.actions-combo {
  display: inline-flex;
  width: 200px;
  margin-left: 12%;
  margin-top: -1%
}

.reply-button {
  background-color: #ece3ef;
  border: 1px solid #b481c9;
  border-radius: .2em;
  color: #7b1fa2;
  font-size: 1.2em;
  height: 2em;
  line-height: 1.2em;
  padding: 0 .8em;
  margin-right: 2em
}

.actions-combo .reply-button:hover {
  background-color: #dcd1d3
}

.favorite-button {
  color: #ff0
}

.favorite-button,
.search-button {
  background-color: #ece3ef;
  border: 1px solid beige;
  border-radius: .2em;
  font-size: 1.2em;
  height: 2em;
  line-height: 1.2em;
  padding: 0 .8em;
  margin-right: 2em
}

.search-button {
  color: #deb887
}

.actions-combo .favorite-button:hover {
  background-color: #dcd1d3
}

.actions-combo .action {
  transition: width .125s linear;
  display: inline-block;
  text-align: center;
  position: relative;
  top: .78em;
  width: 69px;
  overflow: hidden
}

.search {
  width: 100%;
  margin-bottom: 20px
}

.search input {
  margin-left: 5px;
  width: 500px;
  height: 50px;
  flex-grow: 1;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19.2px;
  border-radius: 4px;
  color: #222;
  background: #fff;
  border: 1px solid #00f;
  box-shadow: 0 54px 55px rgba(0, 0, 0, .25), 0 -12px 30px rgba(0, 0, 0, .12), 0 4px 6px rgba(0, 0, 0, .12), 0 12px 13px rgba(0, 0, 0, .17), 0 -3px 5px rgba(0, 0, 0, .09)
}

.hideimg {
  float: right
}

.rule h2 {
  display: inline;
  padding-left: 5px
}

.rule a {
  border: 1px solid #00f;
  margin-left: 5px
}

.page {
  display: flex;
  align-items: center;
  margin-bottom: 50px
}

.page .leftimg {
  margin-right: 10px;
  padding-left: 35%
}

.page .rightimg {
  margin-right: 110px
}

.page h2 {
  margin-right: auto
}

.page .gopage {
  margin-right: 10px;
  padding-right: 30%
}

.gopage input {
  height: 40px
}

@media (max-width:668px) and (max-width:992px) {
  .cl-thumb {
    width: 60px;
    height: 60px
  }

  .result-node {
    width: 80%;
    height: 250px;
    margin-top: 50px;
    margin-left: 12%;
    border: 1px solid #00f
  }

  .supertitle {
    padding-left: 25%;
    font-size: 1.2em;
    margin-bottom: 5px;
    margin-top: 5px
  }

  .supertitle,
  .title-blob {
    text-align: left;
    font-weight: 700
  }

  .title-blob {
    padding-left: 20%;
    font-size: 1em;
    margin-bottom: 15px;
    word-wrap: break-word
  }

  .meta {
    text-align: left;
    font-weight: 700;
    font-size: .8em;
    display: inline-flex
  }

  .meta span {
    width: 100%
  }

  .actions-combo {
    display: inline-flex;
    width: 200px;
    margin-left: 12%;
    margin-top: 2%
  }

  .hideimg {
    width: 20px;
    height: 20px
  }

  .favorite-button {
    border: 1px solid beige;
    border-radius: .2em;
    color: #ff0
  }

  .favorite-button,
  .reply-button {
    background-color: #ece3ef;
    padding: 0 .8em;
    height: 30px
  }

  .reply-button {
    border: 1px solid #b481c9;
    border-radius: .2em;
    color: #7b1fa2;
    margin-right: 2em
  }

  .page .leftimg {
    padding-left: 10%
  }

  .page .leftimg,
  .page .rightimg {
    margin-right: 10px
  }

  .gopage input {
    margin-top: 32%;
    width: 120px
  }
}